.mediaViewInfo {
	--web-view-name: index;
	--web-view-id: index;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#index {
	position: absolute;
	width: 2762px;
	height: 1440px;
	background-color: rgba(250,253,255,1);
	overflow: hidden;
	--web-view-name: index;
	--web-view-id: index;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
#baseline_keyboard_arrow_down_2_bl {
	opacity: 0;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 191px;
	top: 638.273px;
	overflow: visible;
}
.Path_11395_bm {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 7.41px;
	left: 6px;
	top: 8.59px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11396_bn {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#baseline_keyboard_arrow_down_2_bo {
	opacity: 0;
	position: absolute;
	width: 24px;
	height: 172px;
	left: 191px;
	top: 731.753px;
	overflow: hidden;
}
#baseline_keyboard_arrow_down_2_bp {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_11395_bq {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 7.41px;
	left: 6px;
	top: 8.59px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11396_br {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#baseline_keyboard_arrow_down_2_bs {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 48px;
	overflow: visible;
}
.Path_11395_bt {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 7.41px;
	left: 6px;
	top: 8.59px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11396_bu {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#baseline_keyboard_arrow_down_2_bv {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 96px;
	overflow: visible;
}
.Path_11395_bw {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 7.41px;
	left: 6px;
	top: 8.59px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11396_bx {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#baseline_keyboard_arrow_down_2_by {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 144px;
	overflow: visible;
}
.Path_11395_bz {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 7.41px;
	left: 6px;
	top: 8.59px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11396_b {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2782 {
	position: absolute;
	width: 13.591px;
	height: 13.591px;
	left: 219px;
	top: 24px;
	overflow: visible;
}
#baseline_arrow_downward_24px {
	transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(90deg);
	transform-origin: center;
	position: absolute;
	width: 13.591px;
	height: 13.591px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_11408_di {
	overflow: visible;
	position: absolute;
	width: 13.591px;
	height: 13.591px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2827 {
	position: absolute;
	width: 404px;
	height: 41px;
	left: 2290px;
	top: 81px;
	overflow: visible;
}
#outline_search_24px {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 20px;
	top: 6px;
	overflow: visible;
}
.Path_11389 {
	overflow: visible;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11390 {
	overflow: visible;
	position: absolute;
	width: 21.863px;
	height: 21.863px;
	left: 3.75px;
	top: 3.75px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2793 {
	position: absolute;
	width: 230px;
	height: 41px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_2783 {
	position: absolute;
	width: 230px;
	height: 41px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_216 {
	position: absolute;
	overflow: visible;
	width: 230px;
	height: 41px;
	left: 0px;
	top: 0px;
}
#Search {
	position: absolute;
	left: 61.39px;
	top: 8.5px;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(164,163,163,1);
}
#Translate {
	position: absolute;
	left: 340px;
	top: 9px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(23,74,132,1);
}
.Path_11420 {
	overflow: visible;
	position: absolute;
	width: 2538px;
	height: 1px;
	left: 224px;
	top: 135px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2832 {
	position: absolute;
	width: 457.433px;
	height: 19px;
	left: 267px;
	top: 90px;
	overflow: visible;
}
#Services {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(10,75,109,1);
}
#News {
	position: absolute;
	left: 139.617px;
	top: 0px;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(10,75,109,1);
}
#Local {
	position: absolute;
	left: 420.433px;
	top: 0px;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(10,75,109,1);
}
#Governmet {
	position: absolute;
	left: 260.217px;
	top: 0px;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(10,75,109,1);
}
.Path_11423 {
	overflow: visible;
	position: absolute;
	width: 2538px;
	height: 1px;
	left: 224px;
	top: 626.667px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_1___1 {
	position: absolute;
	width: 108px;
	height: 30px;
	left: 272px;
	top: 692.914px;
	overflow: visible;
}
#Overview {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(23,74,132,1);
}
#Component_2___1 {
	position: absolute;
	width: 1516px;
	height: 22px;
	left: 267px;
	top: 765.972px;
	overflow: visible;
}
#If_you_received_a_parking_tick {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 1517px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(23,74,132,1);
}
#baseline_keyboard_arrow_down_2_bl {
	opacity: 0;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 191px;
	top: 638.273px;
	overflow: visible;
}
.Path_11395_bm {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 7.41px;
	left: 6px;
	top: 8.59px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11396_bn {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#baseline_keyboard_arrow_down_2_bo {
	opacity: 0;
	position: absolute;
	width: 24px;
	height: 172px;
	left: 191px;
	top: 731.753px;
	overflow: hidden;
}
#baseline_keyboard_arrow_down_2_bp {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_11395_bq {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 7.41px;
	left: 6px;
	top: 8.59px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11396_br {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#baseline_keyboard_arrow_down_2_bs {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 48px;
	overflow: visible;
}
.Path_11395_bt {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 7.41px;
	left: 6px;
	top: 8.59px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11396_bu {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#baseline_keyboard_arrow_down_2_bv {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 96px;
	overflow: visible;
}
.Path_11395_bw {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 7.41px;
	left: 6px;
	top: 8.59px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11396_bx {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#baseline_keyboard_arrow_down_2_by {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 144px;
	overflow: visible;
}
.Path_11395_bz {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 7.41px;
	left: 6px;
	top: 8.59px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11396_b {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2829 {
	position: absolute;
	width: 226px;
	height: 1440px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_201 {
	position: absolute;
	overflow: visible;
	width: 225px;
	height: 1440px;
	left: 0px;
	top: 0px;
}
.Rectangle_220 {
	position: absolute;
	overflow: visible;
	width: 225px;
	height: 48px;
	left: 1px;
	top: 625.86px;
}
#Overview_ct {
	position: absolute;
	left: 76px;
	top: 641.526px;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(170,255,190,1);
}
#Guidance_cu {
	position: absolute;
	left: 76px;
	top: 705.812px;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#How_To_cv {
	position: absolute;
	left: 76px;
	top: 770.099px;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Pay_cw {
	position: absolute;
	left: 76px;
	top: 834.385px;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: search.html;
	cursor: pointer;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Contact_cx {
	position: absolute;
	left: 76px;
	top: 898.672px;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#outline_dashboard_24px_cy {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 32px;
	top: 638.273px;
	overflow: visible;
}
.Path_11385_cz {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11386_c {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 3px;
	top: 3px;
	transform: matrix(1,0,0,1,0,0);
}
#outline_people_24px_c {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 32px;
	top: 895.727px;
	overflow: visible;
}
.Path_11387_c {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11388_c {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 14px;
	left: 2px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_205 {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 48px;
	left: 1px;
	top: 625.86px;
}
#baseline_calendar_today_24px_c {
	position: absolute;
	width: 47px;
	height: 30px;
	left: 7px;
	top: 709.029px;
	overflow: visible;
}
.Path_11391_c {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 22px;
	left: 27px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11392_c {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#baseline_bar_chart_24px_c {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 32px;
	top: 831.364px;
	overflow: visible;
}
.Path_11393_c {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 5px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11394_da {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#baseline_live_help_24px_db {
	position: absolute;
	width: 24px;
	height: 72px;
	left: 32px;
	top: 711.143px;
	overflow: visible;
}
.Path_11398_dc {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11399_dd {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 21px;
	left: 3px;
	top: 51px;
	transform: matrix(1,0,0,1,0,0);
}
#Feedback_de {
	position: absolute;
	left: 84px;
	top: 1367px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(170,255,190,1);
}
.Rectangle_208 {
	position: absolute;
	overflow: visible;
	width: 195px;
	height: 48px;
	left: 16px;
	top: 1351px;
}
#Image_1 {
	position: absolute;
	width: 89px;
	height: 86px;
	left: 65px;
	top: 39px;
	overflow: visible;
}
.Rectangle_243 {
	position: absolute;
	overflow: visible;
	width: 225px;
	height: 48px;
	left: 1px;
	top: 625.86px;
}
#Overview_ct {
	position: absolute;
	left: 76px;
	top: 641.526px;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(170,255,190,1);
}
#Guidance_cu {
	position: absolute;
	left: 76px;
	top: 705.812px;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#How_To_cv {
	position: absolute;
	left: 76px;
	top: 770.099px;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Pay_cw {
	position: absolute;
	left: 76px;
	top: 834.385px;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: search.html;
	cursor: pointer;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Contact_cx {
	position: absolute;
	left: 76px;
	top: 898.672px;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#outline_dashboard_24px_cy {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 32px;
	top: 638.273px;
	overflow: visible;
}
.Path_11385_cz {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11386_c {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 3px;
	top: 3px;
	transform: matrix(1,0,0,1,0,0);
}
#outline_people_24px_c {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 32px;
	top: 895.727px;
	overflow: visible;
}
.Path_11387_c {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11388_c {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 14px;
	left: 2px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_244 {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 48px;
	left: 1px;
	top: 625.86px;
}
#baseline_calendar_today_24px_c {
	position: absolute;
	width: 47px;
	height: 30px;
	left: 7px;
	top: 709.029px;
	overflow: visible;
}
.Path_11391_c {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 22px;
	left: 27px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11392_c {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#baseline_bar_chart_24px_c {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 32px;
	top: 831.364px;
	overflow: visible;
}
.Path_11393_c {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 5px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11394_da {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#baseline_live_help_24px_db {
	position: absolute;
	width: 24px;
	height: 72px;
	left: 32px;
	top: 711.143px;
	overflow: visible;
}
.Path_11398_dc {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11399_dd {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 21px;
	left: 3px;
	top: 51px;
	transform: matrix(1,0,0,1,0,0);
}
#Feedback_de {
	position: absolute;
	left: 84px;
	top: 1367px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(170,255,190,1);
}
.Rectangle_245 {
	position: absolute;
	overflow: visible;
	width: 195px;
	height: 48px;
	left: 16px;
	top: 1351px;
}
#Group_2808 {
	position: absolute;
	width: 13.591px;
	height: 13.591px;
	left: 219px;
	top: 24px;
	overflow: visible;
}
#baseline_arrow_downward_24px_dh {
	transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(90deg);
	transform-origin: center;
	position: absolute;
	width: 13.591px;
	height: 13.591px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_11408_di {
	overflow: visible;
	position: absolute;
	width: 13.591px;
	height: 13.591px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11425 {
	overflow: visible;
	position: absolute;
	width: 2536.205px;
	height: 1px;
	left: 225.795px;
	top: 135px;
	transform: matrix(1,0,0,1,0,0);
}
#ID2020__City_Of_Octank___All_R {
	position: absolute;
	left: 293px;
	top: 1398px;
	overflow: visible;
	width: 230px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(25,25,25,1);
}
#Group_2820 {
	position: absolute;
	width: 9px;
	height: 9px;
	left: 276px;
	top: 1400px;
	overflow: visible;
}
#Group_2821 {
	position: absolute;
	width: 89px;
	height: 15px;
	left: 276px;
	top: 1371px;
	overflow: visible;
}
#Language_Access {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(10,75,109,1);
}
#Group_2822 {
	position: absolute;
	width: 65px;
	height: 15px;
	left: 798px;
	top: 1371px;
	overflow: visible;
}
#Accessibility {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(10,75,109,1);
}
#Group_2823 {
	position: absolute;
	width: 47px;
	height: 15px;
	left: 420px;
	top: 1371px;
	overflow: visible;
}
#Agencies {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(10,75,109,1);
}
#Group_2824 {
	position: absolute;
	width: 35px;
	height: 15px;
	left: 564px;
	top: 1371px;
	overflow: visible;
}
#Events {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(10,75,109,1);
}
#Group_2825 {
	position: absolute;
	width: 43px;
	height: 15px;
	left: 676px;
	top: 1371px;
	overflow: visible;
}
#Services_dz {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(10,75,109,1);
}
#Group_2831 {
	position: absolute;
	width: 565.347px;
	height: 235px;
	left: 2140.55px;
	top: 268.095px;
	overflow: visible;
}
#Rectangle_206 {
	opacity: 0.73;
}
.Rectangle_206 {
	filter: drop-shadow(0px 3px 16px rgba(10, 75, 109, 0.18));
	position: absolute;
	overflow: visible;
	width: 613.347px;
	height: 283px;
	left: 0px;
	top: 0px;
}
#Group_2830 {
	position: absolute;
	width: 424.01px;
	height: 193.796px;
	left: 71.208px;
	top: 20.23px;
	overflow: visible;
}
#Average_Time_of_Transaction {
	position: absolute;
	left: 103.575px;
	top: 0px;
	overflow: visible;
	width: 202px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(23,74,132,1);
}
.Ellipse_28 {
	position: absolute;
	overflow: visible;
	width: 10.789px;
	height: 10px;
	left: 240.596px;
	top: 183.796px;
}
#ID5_10 {
	position: absolute;
	left: 175.862px;
	top: 41.571px;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(23,74,132,1);
}
#Minutes {
	position: absolute;
	left: 180.177px;
	top: 100.162px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(23,74,132,1);
}
#Group_2785 {
	position: absolute;
	width: 424.01px;
	height: 48px;
	left: 0px;
	top: 141.326px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: search.html;
	cursor: pointer;
}
#Group_2783_d {
	position: absolute;
	width: 424.01px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_216_d {
	position: absolute;
	overflow: visible;
	width: 424.01px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Pay_ea {
	position: absolute;
	left: 199.491px;
	top: 16px;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#baseline_keyboard_arrow_down_2_es {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 362px;
	top: 20px;
	overflow: visible;
}
.Path_11396_et {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11397 {
	overflow: visible;
	position: absolute;
	width: 2538px;
	height: 1px;
	left: 224px;
	top: 64px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_5___1 {
	position: absolute;
	width: 2538px;
	height: 64px;
	left: 224px;
	top: 0px;
	overflow: visible;
}
.Rectangle_241 {
	position: absolute;
	overflow: visible;
	width: 2538px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#Component_6___1 {
	position: absolute;
	width: 306px;
	height: 24px;
	left: 292px;
	top: 20px;
	overflow: visible;
}
#Information_on_Novel_Coronavir {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Path_11421 {
	overflow: visible;
	position: absolute;
	width: 35.186px;
	height: 1px;
	transform: matrix(1,0,0,1,939.6494,31.5931) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Path_11422 {
	overflow: visible;
	position: absolute;
	width: 35.186px;
	height: 1px;
	transform: matrix(1,0,0,1,2044.4059,29.5931) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Component_7___1 {
	position: absolute;
	width: 191px;
	height: 17px;
	left: 1445.62px;
	top: 25px;
	overflow: visible;
}
#__Share_pertinent_information_ {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Group_2835 {
	position: absolute;
	width: 155px;
	height: 29px;
	left: 2336.424px;
	top: 24px;
	overflow: visible;
}
.Path_11396_eo {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	transform: translate(0px, 0px) matrix(1,0,0,1,0,5) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Path_11396_eo {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	transform: translate(0px, 0px) matrix(1,0,0,1,0,5) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_2836 {
	position: absolute;
	width: 115.424px;
	height: 17px;
	left: 39.576px;
	top: 0px;
	overflow: visible;
}
.Path_11395_eq {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 7.41px;
	transform: translate(0px, 0px) matrix(1,0,0,1,105.7189,5.295) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#GET_THE_FACTS_ {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
	text-decoration: true;
}
#baseline_keyboard_arrow_down_2_es {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 362px;
	top: 20px;
	overflow: visible;
}
.Path_11396_et {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Learn_all_the_ways_you_can_pay {
	position: absolute;
	left: 325.776px;
	top: 342.165px;
	overflow: visible;
	width: 847.941px;
	height: 86px;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(23,74,132,1);
}
#Pay_a_Parking_Ticket_in_the_Ci {
	position: absolute;
	left: 267px;
	top: 240.578px;
	overflow: visible;
	width: 818px;
	height: 89px;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(23,74,132,1);
}